$time-bgcolor: green;
$rerender-bgcolor: blue;

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

#seconds {
  background-color: $time-bgcolor;
  color: white;
}

#rerender {
  background-color: $rerender-bgcolor;
  color: white;
}
